/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap";

.container-fluid-heading, .container-checkout, .container-order-confirm {
  margin-top: 110px;
  margin-bottom: 20px;
}

// .card-rows {
//   grid-auto-rows: minmax(auto, flex);
// }

.card-columns {
  display: inline-block;
  margin: 20px;
  // position: relative;
  column-width: 25vw;
  grid-row: span;

  @include media-breakpoint-only(xs){
   column-count: 1;
  }

  @include media-breakpoint-only(sm){
   column-count: 2;
  }

  @include media-breakpoint-only(md){
   column-count: 3;
  }
  @include media-breakpoint-only(lg) {
   column-count: 4;
   column-width: 20vw;
 }
 @include media-breakpoint-only(xl) {
   column-count: 5;
   column-width: 15vw;
 }
}


 .container{
  padding:25px;
  border-radius:25px;
  background: #f8f9fa;
  margin: 20px auto;
  width:80% /* value of your choice which suits your alignment */
}

.new-text{
  margin-top: 110px;
  text-align: center;
}

.button-text {
  margin: 10px;
  text-align: center;
}

.textalign{
  text-align: center;
}

#navbarfontsize{
  font-size: 250%
}

.bg-custom-color {
  background-color: #AF7CA2;
}

.navbarfontsize2{
  font-size: 100%
}

.navbarformat{
  padding-bottom:20px;
}


.form-container {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

.login-form {
  background-color: #f8f9fa;
  width: 400px;
  padding: 30px;
  border: solid #bec2c6 1px;
  border-radius: 15px;
}

.card {
  border-color: #56B361;
  border-width: medium;
}
