<h1 class="new-text">Sell Something!</h1>

<%= render 'form', product: @product %>

<!--<p class="new-text"><%= link_to 'Back', products_path %></p>-->
<p class="new-text"><a class="btn btn-light" <%= link_to 'Back', products_path %></a></p>